/* basic html tags */
* {
    margin: 0;
}
html {
    font-size: 10px;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
main {
    /* border: 2px solid black; */
    margin: 1rem;
    padding: 1rem;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 1px 7px black;
}
h1 {
    letter-spacing: 2px;
    font:  3.5rem 'Roboto', sans-serif;
}
h2 {
    text-transform: uppercase;
    margin-bottom: .1rem;
    font:  2rem 'Roboto', sans-serif;
}
p {
    font: 300 1.5rem 'Inter', sans-serif;
}
hr {
    border: 1px solid rgba(35, 37, 43, 0.877);
    border-radius: 50px;
}
a {
    color: #fff;
    text-decoration: none;
}
table {
    width: 100%;
    font-size: 1.8rem;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}
li {
    font: 300 1.5rem 'Inter', sans-serif;
}
section {
    margin: 1rem 0;
}
article {
    margin: .7rem 0;
}
em {
    color: rgb(179, 40, 197);
    font: italic 300 1.3rem 'Inter', sans-serif;
}
strong {
    font: 500 1.8rem 'Inter', sans-serif;
}
/* Header section */
.header {
    display: flex;
    justify-content: space-between;
    text-align: justify;
}
.header strong{
    color: rgb(179, 40, 197);
}
.header img {
    width: 15%;
    border-radius: 50%;
    border: 4px solid skyblue;
    margin-left: 1rem;
}
/* Resume's Skills Section */
.skills td{
    padding: .6rem;
} 
/* Resume's Experience Section */
.experience ul {
    color: rgb(43, 31, 31);
    margin-top: 5px;
}
/* .contact-info section */
.contact-info {
    background-color: rgba(35, 37, 43, 0.877);
    color: #fff;
    border-radius: 5px;
    padding: 1rem;
}

.contact-info td {
    font-size: 1.3rem;
    padding-bottom: .5rem;
}

/* Resume's Education Section */

.flex {
    display: flex;
    justify-content: space-between;
    margin: 0;
}
